/* You can add global styles to this file, and also import other style files */

#imagenPartido {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-left: 20px;
}

#elim{
    position: relative;
   //float: right; 
   left:  65%;
   bottom: 5px;
}