<div class="main-container">
    <header class="header-7">
        <div class="branding">
            <a [routerLink]="['/partidos']" class="nav-link">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">Promesometro</span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger>
                    edwinsandoval@
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a [routerLink]="['/login']" clrDropdownItem>Cerrar Secion</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
            <a clrVerticalNavLink [routerLink]="['/partidos']" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="accessibility-2" class="is-solid"></clr-icon>
                Partidos
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink [routerLink]="['/creditos']"  routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="details" class="is-solid"></clr-icon>
                Creditos
            </a>
        </clr-vertical-nav>
        <div class="content-area">

        </div>
    </div>
</div>