<div class="main-container">
    <app-encabezado></app-encabezado>
    <div class="content-container">

        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
            <a clrVerticalNavLink [routerLink]="['/partidos']" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="accessibility-2" class="is-solid"></clr-icon>
                Partidos
            </a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="details" class="is-solid"></clr-icon>
                Creditos
            </a>
        </clr-vertical-nav>

        <div class="content-area">
            <img src="../../../assets/kinal.png" height="15%" class="card-media-image">
            <h1>Integrantes del Grupo</h1>

            <div class="clr-row">
                <!--Rafa-->
                <div class="clr-col-lg-3 clr-col-12">
                    <div class="card clickable">
                        <div class="card-header">
                           Tobias Rafael Zamora Santos
                        </div>
                        <div class="card-block">
                            <div class="card-media-block">
                                <img src="../../../assets/rafa.jpg"  class="card-media-image">
                                <div class="card-media-description">

                                    <span class="card-media-text">
                                        Codigo Tecnico: IN6BM
                                    </span>
                                    <span class="card-media-title">
                                        Carrera: Informatica
                                    </span>
                                    <span class="card-media-title">
                                        Carne: 2017-113
                                    </span>
                                    <span class="card-media-title">
                                        Cargo: Backend
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            
                        </div>
                    </div>
                </div>

                <!--Pancho-->
                <div class="clr-col-lg-3 clr-col-12">
                    <div class="card clickable">
                        <div class="card-header">
                           Tobias Francisco Zamora Santos
                        </div>
                        <div class="card-block">
                            <div class="card-media-block">
                                <img src="../../../assets/pancho.jpg"  class="card-media-image">
                                <div class="card-media-description">

                                    <span class="card-media-text">
                                        Codigo Tecnico: IN6BM
                                    </span>
                                    <span class="card-media-title">
                                        Carrera: Informatica
                                    </span>
                                    <span class="card-media-title">
                                        Carne: 2017-112
                                    </span>
                                    <span class="card-media-title">
                                        Cargo: Diseño
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            
                        </div>
                    </div>
                </div>

                <!--Edwin-->
                <div class="clr-col-lg-3 clr-col-12">
                        <div class="card clickable">
                            <div class="card-header">
                               Edwin Sandoval Lopez
                            </div>
                            <div class="card-block">
                                <div class="card-media-block">
                                    <img src="../../../assets/sandoval.jpg"  class="card-media-image">
                                    <div class="card-media-description">
    
                                        <span class="card-media-text">
                                            Codigo Tecnico: IN6BM
                                        </span>
                                        <span class="card-media-title">
                                            Carrera: Informatica
                                        </span>
                                        <span class="card-media-title">
                                            Carne: 2017-101
                                        </span>
                                        <span class="card-media-title">
                                            Cargo: Secretaria de Rafa
                                        </span>
    
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                
                            </div>
                        </div>
                    </div>
                <!--Alejandro-->
                <div class="clr-col-lg-3 clr-col-12">
                        <div class="card clickable">
                            <div class="card-header">
                               Gabriel Alejandro Velasquez Acù
                            </div>
                            <div class="card-block">
                                <div class="card-media-block">
                                    <img src="../../../assets/alejandro.jpg"  class="card-media-image">
                                    <div class="card-media-description">
    
                                        <span class="card-media-text">
                                            Codigo Tecnico: IN6BM
                                        </span>
                                        <span class="card-media-title">
                                            Carrera: Informatica
                                        </span>
                                        <span class="card-media-title">
                                            Carne: 2017-092
                                        </span>
                                        <span class="card-media-title">
                                            Cargo: Diseño
                                        </span>
    
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                
                            </div>
                        </div>
                    </div>
                <!--Salvador-->
                <div class="clr-col-lg-3 clr-col-12">
                        <div class="card clickable">
                            <div class="card-header">
                               Jonathan Salvador
                            </div>
                            <div class="card-block">
                                <div class="card-media-block">
                                    <img src="../../../assets/salvador.jpg"  class="card-media-image">
                                    <div class="card-media-description">
    
                                        <span class="card-media-text">
                                            Codigo Tecnico: IN6BM
                                        </span>
                                        <span class="card-media-title">
                                            Carrera: Informatica
                                        </span>
                                        <span class="card-media-title">
                                            Carne: Pendiente
                                        </span>
                                        <span class="card-media-title">
                                            Cargo: Diseño
                                        </span>
    
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                
                            </div>
                        </div>
                    </div>
                <!--Monroy-->
                <div class="clr-col-lg-3 clr-col-12">
                        <div class="card clickable">
                            <div class="card-header">
                            Jonnathan Estuardo Monroy Guzmán
                            </div>
                            <div class="card-block">
                                <div class="card-media-block">
                                    <img src="../../../assets/monroy1.jpg"  class="card-media-image">
                                    <div class="card-media-description">
    
                                        <span class="card-media-text">
                                            Codigo Tecnico: IN6BM
                                        </span>
                                        <span class="card-media-title">
                                            Carrera: Informatica
                                        </span>
                                        <span class="card-media-title">
                                            Carne: 2017-082
                                        </span>
                                        <span class="card-media-title">
                                            Cargo: Diseño
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                
                            </div>
                        </div>
                    </div>

                <!--fin-->
            </div>

        </div>
    </div>

</div>
